.normalButton {}
.normalButton:hover{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.audioButton {

    -fx-background-color: #fa0000;
    -fx-border-width: 2;
    -fx-border-color: rgb(7, 17, 17);
    -fx-shape: "M26.894,3.013c-0.551,0-1.097,0.153-1.579,0.444c-0.046,0.027-0.09,0.059-0.13,0.093L11.634,15.013H1c-0.553,0-1,0.447-1,1 v19c0,0.553,0.447,1,1,1h10.61l13.543,12.436c0.05,0.046,0.104,0.086,0.161,0.12c0.482,0.291,1.028,0.444,1.579,0.444 c1.713,0,3.106-1.416,3.106-3.156V6.169C30,4.429,28.606,3.013,26.894,3.013z M13,34.013c0,0.553-0.447,1-1,1s-1-0.447-1-1v-4 c0-0.553,0.447-1,1-1s1,0.447,1,1V34.013z M13,21.013c0,0.553-0.447,1-1,1s-1-0.447-1-1v-4c0-0.553,0.447-1,1-1s1,0.447,1,1V21.013 z";
    -fx-pref-width: 30;
    -fx-pref-height: 30;

}



.gameButton {
    -fx-border-width: 5;
    -fx-border-color: rgb(7, 17, 17);
    -fx-shape: "M23.226 2.361c-0.8-0.375-1.556-0.729-2.245-1.075-1.765-0.884-3.364-1.313-4.89-1.313-3.072 0-5.197 1.772-6.53 3.105l-6.464 6.471c-3.459 3.463-4.011 6.988-1.79 11.431 0.345 0.69 0.699 1.448 1.074 2.251 2.022 4.325 4.112 8.796 7.533 8.796 0.096 0 0.191-0.003 0.288-0.011 3.53-0.276 4.532-4.822 5.416-8.831 0.14-0.635 0.274-1.244 0.41-1.79 0.238-0.944 0.705-1.53 1.986-2.814l0.176-0.177 0.108-0.108 0.285-0.284c1.284-1.284 1.87-1.751 2.816-1.989 0.541-0.136 1.148-0.27 1.782-0.409 4.007-0.884 8.55-1.886 8.825-5.423 0.278-3.588-4.327-5.745-8.781-7.83zM29.952 10.010c-0.195 2.493-5.775 3.229-9.097 4.062-1.469 0.371-2.363 1.149-3.712 2.498-0.094 0.094-0.189 0.188-0.284 0.283s-0.189 0.191-0.283 0.284c-1.349 1.351-2.125 2.244-2.495 3.715-0.834 3.325-1.568 8.912-4.058 9.107-0.045 0.003-0.090 0.005-0.135 0.005-2.642 0-4.865-6.008-6.826-9.927-1.992-3.985-1.139-6.569 1.417-9.128 0.49-0.491 1.101-1.101 1.848-1.849 0.763-0.764 1.671-1.673 2.747-2.75 0.747-0.748 1.357-1.357 1.848-1.849 1.588-1.589 3.186-2.52 5.122-2.52 1.181 0 2.489 0.345 3.996 1.102 3.983 1.997 10.122 4.265 9.912 6.968zM14.962 10.977h2v-2h-2v2zM14.962 7.977h2v-2h-2v2zM17.962 7.977h2v-2h-2v2zM17.962 10.977h2v-2h-2v2zM10.309 16.982l0.761-0.761c0.375-0.375 0.375-0.983 0-1.358s-0.982-0.375-1.357 0l-0.761 0.761-0.761-0.761c-0.375-0.375-0.982-0.375-1.357 0s-0.375 0.983 0 1.358l0.761 0.761-0.761 0.761c-0.375 0.375-0.375 0.983 0 1.357s0.983 0.375 1.357 0l0.761-0.761 0.783 0.783c0.375 0.375 0.982 0.375 1.357 0s0.375-0.983 0-1.358z";
}



.closeButton {
    -fx-border-color: #121314;
    -fx-background-color: #121314;
    -fx-shape: "M7.498 17.1a7.128 7.128 0 0 1-.98-.068 7.455 7.455 0 0 1-1.795-.483 7.26 7.26 0 0 1-3.028-2.332A7.188 7.188 0 0 1 .73 12.52a7.304 7.304 0 0 1 .972-7.128 7.221 7.221 0 0 1 1.387-1.385 1.03 1.03 0 0 1 1.247 1.638 5.176 5.176 0 0 0-.993.989 5.313 5.313 0 0 0-.678 1.181 5.23 5.23 0 0 0-.348 1.292 5.22 5.22 0 0 0 .326 2.653 5.139 5.139 0 0 0 .69 1.212 5.205 5.205 0 0 0 .992.996 5.257 5.257 0 0 0 1.178.677 5.37 5.37 0 0 0 1.297.35 5.075 5.075 0 0 0 1.332.008 5.406 5.406 0 0 0 1.32-.343 5.289 5.289 0 0 0 2.211-1.682 5.18 5.18 0 0 0 1.02-2.465 5.2 5.2 0 0 0 .01-1.336 5.315 5.315 0 0 0-.343-1.318 5.195 5.195 0 0 0-.695-1.222 5.134 5.134 0 0 0-.987-.989 1.03 1.03 0 1 1 1.24-1.643 7.186 7.186 0 0 1 1.384 1.386 7.259 7.259 0 0 1 .97 1.706 7.413 7.413 0 0 1 .473 1.827 7.296 7.296 0 0 1-4.522 7.65 7.476 7.476 0 0 1-1.825.471 7.203 7.203 0 0 1-.89.056zM7.5 9.613a1.03 1.03 0 0 1-1.03-1.029V2.522a1.03 1.03 0 0 1 2.06 0v6.062a1.03 1.03 0 0 1-1.03 1.03z";
}

.closeButton:hover {
    -fx-background-color: rgb(160, 30, 30);
    -fx-border-color: rgb(160, 30, 30);
}



.addButton {
    -fx-shape: "M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z M16 12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z M12 16.75C11.59 16.75 11.25 16.41 11.25 16V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V16C12.75 16.41 12.41 16.75 12 16.75Z"; /* Other button styles */
    -fx-border-color: rgb(18, 19, 20);
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-background-color: rgb(18, 19, 20);
}

.deleteButton {
    -fx-shape: "M 12 22.75 C 6.07 22.75 1.25 17.93 1.25 12 C 1.25 6.07 6.07 1.25 12 1.25 C 17.93 1.25 22.75 6.07 22.75 12 C 22.75 17.93 17.93 22.75 12 22.75 Z M 12 2.75 C 6.9 2.75 2.75 6.9 2.75 12 C 2.75 17.1 6.9 21.25 12 21.25 C 17.1 21.25 21.25 17.1 21.25 12 C 21.25 6.9 17.1 2.75 12 2.75 Z M 16 12.75 H 8 C 7.59 12.75 7.25 12.41 7.25 12 C 7.25 11.59 7.59 11.25 8 11.25 H 16 C 16.41 11.25 16.75 11.59 16.75 12 C 16.75 12.41 16.41 12.75 16 12.75 Z M 12 16.75 V 16 Z"; /* Other button styles */
    -fx-border-color: rgb(18, 19, 20);
    -fx-background-color: rgb(18, 19, 20);
    -fx-pref-height: 80;
    -fx-pref-width: 80;

}

.progress-bar {
    -fx-border-width: 5;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: rgb(7, 17, 17);
    -fx-pref-width: 300px;
    -fx-pref-height: 30px;

}

.progress-bar .track {
    -fx-background-radius: 50;
}

.progress-bar .bar {
    -fx-background-radius: 50;
    -fx-background-color: linear-gradient(to left, rgba(0, 0, 0, 0.72), whitesmoke);
}

.scroll-bar:vertical .track {
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: black;
}

.scroll-bar:horizontal .track {
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: black;

}

.scroll-bar:horizontal .thumb {
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.scroll-bar:vertical .thumb {
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.scroll-bar:vertical .thumb:hover {

    -fx-scale-x: 1.3;

}

.scroll-bar:horizontal .thumb:hover {
    -fx-scale-y: 1.3;


}

.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow {
    -fx-border-color: black;
    -fx-background-color: black;
}

.scroll-bar:horizontal *.increment-arrow,
.scroll-bar:horizontal *.decrement-arrow {
    -fx-border-color: black;
    -fx-background-color: black;
}

.scroll-pane .corner {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.shutDownButton {
    -fx-shape: "M20.034,2.357v3.824c3.482,1.798,5.869,5.427,5.869,9.619c0,5.98-4.848,10.83-10.828,10.83 c-5.982,0-10.832-4.85-10.832-10.83c0-3.844,2.012-7.215,5.029-9.136V2.689C4.245,4.918,0.731,9.945,0.731,15.801 c0,7.921,6.42,14.342,14.34,14.342c7.924,0,14.342-6.421,14.342-14.342C29.412,9.624,25.501,4.379,20.034,2.357z M14.795,17.652c1.576,0,1.736-0.931,1.736-2.076V2.08c0-1.148-0.16-2.08-1.736-2.08 c-1.57,0-1.732,0.932-1.732,2.08v13.496C13.062,16.722,13.225,17.652,14.795,17.652z"; /* Other button styles */
    -fx-border-color: rgb(18, 19, 20);
    -fx-background-color: rgb(18, 19, 20);
    -fx-pref-height: 60;
    -fx-pref-width: 60;


}

.minimizeButton{
    -fx-shape: "M11.9426 1.25C9.63423 1.24999 7.82519 1.24998 6.41371 1.43975C4.96897 1.63399 3.82895 2.03933 2.93414 2.93414C2.03933 3.82895 1.63399 4.96897 1.43975 6.41371C1.24998 7.82519 1.24999 9.63423 1.25 11.9426V12.0574C1.24999 14.3658 1.24998 16.1748 1.43975 17.5863C1.63399 19.031 2.03933 20.1711 2.93414 21.0659C3.82895 21.9607 4.96897 22.366 6.41371 22.5603C7.82519 22.75 9.63423 22.75 11.9426 22.75H12.0574C14.3658 22.75 16.1748 22.75 17.5863 22.5603C19.031 22.366 20.1711 21.9607 21.0659 21.0659C21.9607 20.1711 22.366 19.031 22.5603 17.5863C22.75 16.1748 22.75 14.3658 22.75 12.0574V11.9426C22.75 9.63423 22.75 7.82519 22.5603 6.41371C22.366 4.96897 21.9607 3.82895 21.0659 2.93414C20.1711 2.03933 19.031 1.63399 17.5863 1.43975C16.1748 1.24998 14.3658 1.24999 12.0574 1.25H11.9426ZM3.9948 3.9948C4.56445 3.42514 5.33517 3.09825 6.61358 2.92637C7.91356 2.75159 9.62178 2.75 12 2.75C14.3782 2.75 16.0864 2.75159 17.3864 2.92637C18.268 3.0449 18.9082 3.23714 19.4075 3.53188L14.75 8.18934V6.25C14.75 5.83579 14.4142 5.5 14 5.5C13.5858 5.5 13.25 5.83579 13.25 6.25V10C13.25 10.4142 13.5858 10.75 14 10.75H17.75C18.1642 10.75 18.5 10.4142 18.5 10C18.5 9.58579 18.1642 9.25 17.75 9.25H15.8107L20.4681 4.59254C20.7629 5.09183 20.9551 5.73199 21.0736 6.61358C21.2484 7.91356 21.25 9.62178 21.25 12C21.25 14.3782 21.2484 16.0864 21.0736 17.3864C20.9018 18.6648 20.5749 19.4355 20.0052 20.0052C19.4355 20.5749 18.6648 20.9018 17.3864 21.0736C16.0864 21.2484 14.3782 21.25 12 21.25C9.62178 21.25 7.91356 21.2484 6.61358 21.0736C5.73199 20.9551 5.09183 20.7629 4.59254 20.4681L9.25 15.8107V17.75C9.25 18.1642 9.58579 18.5 10 18.5C10.4142 18.5 10.75 18.1642 10.75 17.75V14C10.75 13.5858 10.4142 13.25 10 13.25H6.25C5.83579 13.25 5.5 13.5858 5.5 14C5.5 14.4142 5.83579 14.75 6.25 14.75H8.18934L3.53188 19.4075C3.23714 18.9082 3.0449 18.268 2.92637 17.3864C2.75159 16.0864 2.75 14.3782 2.75 12C2.75 9.62178 2.75159 7.91356 2.92637 6.61358C3.09825 5.33517 3.42514 4.56445 3.9948 3.9948Z";
    -fx-border-color: rgb(18, 19, 20);
    -fx-background-color: rgb(18, 19, 20);
    -fx-pref-height: 60;
    -fx-pref-width: 60;

}


.shutDownButton:hover, .minimizeButton:hover, .translateButton:hover, .gameButton:hover {
    -fx-background-color: rgb(160, 30, 30);
    -fx-border-color: rgb(160, 30, 30);
}
.translateButton{
    -fx-shape: "M463.203,105.688c-3.047-4.25-6.234-8.406-9.609-12.484C406.641,36.313,335.531,0,256,0 C176.484,0,105.359,36.313,58.406,93.203c-3.375,4.078-6.563,8.234-9.594,12.484C18.078,147.922,0,199.844,0,256 c0,56.313,18.156,108.484,49.031,150.719c3.125,4.328,6.406,8.563,9.844,12.656C105.844,475.922,176.719,512,256,512 c79.688,0,150.813-36.406,197.75-93.438c3.453-4.078,6.734-8.313,9.781-12.641C494.078,363.766,512,312,512,256 C512,199.844,493.922,147.922,463.203,105.688z M471.688,247.969H385.75c-0.625-32.563-5.031-63.438-12.5-91.219 c21.156-7.219,40.594-16.359,57.781-27.063C455.328,163.156,470.047,203.938,471.688,247.969z M263.984,41.906 c37.375,5.188,70.438,46.109,89.297,104.281c-27.469,7.828-57.594,12.406-89.297,13.094V41.906z M247.984,41.906v117.375 c-31.703-0.688-61.828-5.266-89.297-13.094C177.547,88.016,210.609,47.094,247.984,41.906z M247.984,175.266v72.703H142.219 c0.625-30.766,4.891-60.094,11.984-86.516C183.094,169.75,214.703,174.594,247.984,175.266z M247.984,263.969v72.703 c-33.234,0.797-64.828,5.734-93.703,14.094c-7.141-26.484-11.422-55.922-12.063-86.797H247.984z M247.984,352.656v117.375 c-37.297-5.172-70.313-45.938-89.188-103.938C186.625,358.031,216.734,353.453,247.984,352.656z M263.984,470.031V352.625 c31.703,0.563,61.859,5.094,89.359,12.875C334.5,423.813,301.406,464.844,263.984,470.031z M263.984,336.625v-72.656H369.75 c-0.625,30.625-4.859,59.859-11.891,86.188C328.938,341.938,297.281,337.188,263.984,336.625z M263.984,247.969v-72.703 c33.281-0.672,64.891-5.5,93.797-13.797c7.078,26.406,11.344,55.75,11.969,86.5H263.984z M421.281,117.203 c-15.656,9.547-33.344,17.703-52.563,24.266c-13.219-40.938-33.266-74-57.406-94.219 C354.906,58.797,393.156,83.609,421.281,117.203z M200.656,47.25c-24.141,20.234-44.188,53.281-57.406,94.203 c-19.188-6.563-36.891-14.703-52.531-24.25C118.844,83.625,157.063,58.813,200.656,47.25z M80.969,129.688 c17.188,10.703,36.609,19.828,57.75,27.063c-7.469,27.781-11.875,58.656-12.5,91.219H40.313 C41.953,203.938,56.688,163.156,80.969,129.688z M40.313,263.969h85.906c0.625,32.688,5.063,63.688,12.594,91.563 c-21.094,7.25-40.469,16.359-57.609,27.031C56.75,348.984,41.938,308.109,40.313,263.969z M91.125,395.203 c15.875-9.703,33.484-17.797,52.281-24.297c13.219,40.781,33.25,73.703,57.344,93.844 C157.344,453.25,119.219,428.594,91.125,395.203z M311.219,464.75c24.25-20.25,44.359-53.438,57.578-94.547 c19.281,6.547,37.047,14.719,52.734,24.281C393.313,428.234,354.938,453.156,311.219,464.75z M431.359,381.922 c-17.266-10.734-36.781-19.859-58.016-27.063c7.406-27.703,11.781-58.453,12.406-90.891h85.938 C470.078,307.859,455.5,348.438,431.359,381.922z";
    -fx-border-color: rgb(18, 19, 20);
    -fx-background-color: rgb(18, 19, 20);
    -fx-pref-height: 80;
    -fx-pref-width: 80;
}
.refreshButton{
    -fx-border-color: #121314;
    -fx-background-color: #121314;
    -fx-shape:"M241.852,72.459l10.847-54.533c1.184-5.95-1.334-12.028-6.378-15.398c-5.045-3.37-11.623-3.37-16.667,0 L156.182,51.62c-0.004,0.003-0.008,0.006-0.012,0.009c-0.415,0.278-0.817,0.576-1.201,0.893c-0.219,0.181-0.418,0.377-0.625,0.568 c-0.148,0.137-0.304,0.265-0.447,0.408c-0.249,0.25-0.478,0.514-0.707,0.778c-0.088,0.101-0.183,0.196-0.268,0.299 c-0.208,0.253-0.396,0.519-0.586,0.783c-0.095,0.132-0.197,0.259-0.288,0.394c-0.155,0.232-0.292,0.473-0.433,0.712 c-0.109,0.185-0.225,0.365-0.327,0.554c-0.104,0.195-0.192,0.397-0.288,0.597c-0.118,0.245-0.24,0.487-0.344,0.739 c-0.064,0.156-0.115,0.317-0.174,0.475c-0.112,0.299-0.227,0.598-0.32,0.906c-0.042,0.137-0.069,0.276-0.106,0.414 c-0.09,0.329-0.181,0.658-0.248,0.996c-0.045,0.223-0.068,0.45-0.103,0.675c-0.038,0.252-0.088,0.501-0.113,0.758 c-0.051,0.498-0.075,0.998-0.076,1.5c0,0.004-0.001,0.009-0.001,0.013c0,0.058,0.008,0.113,0.009,0.17 c0.004,0.437,0.023,0.874,0.066,1.311c0.016,0.156,0.045,0.307,0.065,0.461c0.043,0.332,0.086,0.664,0.151,0.994 c0.042,0.212,0.102,0.418,0.152,0.627c0.064,0.264,0.124,0.529,0.204,0.791c0.077,0.256,0.173,0.503,0.264,0.753 c0.076,0.208,0.143,0.418,0.229,0.624c0.126,0.305,0.272,0.598,0.418,0.892c0.072,0.146,0.134,0.295,0.211,0.438 c0.203,0.379,0.426,0.745,0.66,1.104c0.036,0.055,0.064,0.113,0.1,0.167l0.019,0.028c0.01,0.015,0.02,0.03,0.03,0.045l49.044,73.401 c2.817,4.217,7.525,6.667,12.47,6.667c0.971,0,1.952-0.094,2.928-0.288c5.951-1.184,10.602-5.835,11.786-11.786l7.052-35.455 c23.901,20.188,39.11,50.36,39.11,84.023c0,60.636-49.331,109.968-109.967,109.968c-60.637,0-109.969-49.332-109.969-109.968 c0-40.179,21.91-77.153,57.179-96.494c7.264-3.983,9.923-13.101,5.94-20.365c-3.983-7.264-13.101-9.924-20.365-5.94 C52.424,90.871,24.546,137.924,24.546,189.06c0,77.178,62.79,139.968,139.969,139.968c77.178,0,139.967-62.79,139.967-139.968 C304.482,140.453,279.571,97.56,241.852,72.459z" ;
}
.refreshButton:hover {
    -fx-background-color: rgb(160, 30, 30);
    -fx-border-color: rgb(160, 30, 30);
}
.previousSongButton{
    -fx-border-color: #121314;
    -fx-background-color: #121314;
    -fx-shape:"M87.06,26.291c-0.483,0-0.918,0.2-1.23,0.521L57.41,43.22V28.009c0-0.949-0.769-1.718-1.718-1.718 c-0.483,0-0.918,0.2-1.23,0.521L21.144,46.049V22.667h-0.013c0.002-0.039,0.012-0.075,0.012-0.114c0-1.399-1.134-2.533-2.532-2.536 v0h-4.852v0.024c-1.401,0-2.537,1.136-2.537,2.537c0,0.045,0.011,0.086,0.013,0.131v54.721c0,0.002,0,0.003,0,0.005 s0,0.003,0,0.005v0.236h0.024c0.123,1.286,1.194,2.296,2.513,2.296c0.03,0,0.058-0.008,0.087-0.009h4.569 c0.071,0.006,0.14,0.021,0.213,0.021c1.4,0,2.537-1.136,2.537-2.537c0-0.117-0.019-0.23-0.035-0.343V53.962l33.341,19.25 c0.31,0.307,0.736,0.497,1.207,0.497c0.932,0,1.686-0.743,1.713-1.669h0.005V56.791l28.443,16.422 c0.31,0.307,0.736,0.497,1.207,0.497c0.932,0,1.687-0.743,1.713-1.669h0.005V28.009C88.778,27.06,88.008,26.291,87.06,26.291z" ;
}
.nextSongButton{
    -fx-border-color: #121314;
    -fx-background-color: #121314;
    -fx-shape:"M88.765,77.291v-54.72c0-0.002,0.001-0.003,0.001-0.005s-0.001-0.004-0.001-0.005v-0.235h-0.024 c-0.123-1.286-1.194-2.296-2.513-2.296c-0.03,0-0.058,0.008-0.087,0.009h-4.569c-0.071-0.006-0.14-0.021-0.213-0.021 c-1.4,0-2.537,1.136-2.537,2.537c0,0.117,0.019,0.23,0.035,0.343v23.141l-33.341-19.25c-0.31-0.307-0.736-0.497-1.207-0.497 c-0.932,0-1.686,0.743-1.713,1.669H42.59v15.249L14.148,26.788c-0.31-0.307-0.736-0.497-1.207-0.497 c-0.932,0-1.687,0.743-1.713,1.669h-0.005v44.031c0,0.949,0.77,1.718,1.718,1.718c0.483,0,0.918-0.2,1.23-0.521L42.59,56.78v15.212 c0,0.949,0.769,1.718,1.718,1.718c0.483,0,0.918-0.2,1.23-0.521l33.319-19.237v23.382h0.013c-0.002,0.039-0.012,0.075-0.012,0.114 c0,1.399,1.134,2.533,2.532,2.536v0h4.852v-0.024c1.401,0,2.537-1.136,2.537-2.537C88.778,77.377,88.767,77.335,88.765,77.291z" ;
}
.playSongButton{
    -fx-border-color: #121314;
    -fx-background-color: #121314;
    -fx-shape:"M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554"
;
}
.pauseSongButton{
    -fx-border-color: #121314;
    -fx-background-color: #121314;
    -fx-shape:"M0,512h162.9V0H0V512z M349.1,0v512H512V0H349.1z";
}
.slider:vertical .thumb{
    -fx-shape:"M161,581 L161,589 C161,590.104 161.896,591 163,591 L166,591 L166,579 L163,579 C161.896,579 161,579.896 161,581 L161,581 Z M175,573 L168,577.667 L168,592.333 L175,597 C176.104,597 177,596.104 177,595 L177,575 C177,573.896 176.104,573 175,573 L175,573 Z " ;
    -fx-border-color: #121314;
    -fx-background-color: #121314;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}
.slider:vertical .track{
    -fx-border-color: #121314;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

}
.slider:vertical .thumb:hover{
    -fx-background-color: red;
}
